#section1{
     background-image: url(/interests/images/map.jpg);
    background-repeat: no-repeat;
    text-align:center;
    font-family:serif;
    font-style: normal;
    
}
#section2{
    background-color: rgb(51, 153, 204);
     text-align:center;
    font-family:serif;
    font-style: normal;
}

#section3{
     background-color: rgb(206, 167, 239);
     text-align:center;
    font-family:serif;
    font-style: normal;
}

#section4{
    background-color: rgb(238, 0, 90);
     text-align:center;
    font-family:serif;
    font-style: normal;

}
