#homepage
background {
    background-color: rgb(222, 57, 99);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}


title{
    Text-align:center;
    font-family: serif;
    font-weight: bold;
    font-size: x-large;
}


h1{
    text-align:center;
     font-family: serif;
    font-weight: bold;
    font-size: xx-large
}
background{
    background-color: rgb(247, 143, 238)
    
}

#aboutcloud
#ebus1
{
    font-family: serif;
    background-color: pink;
    padding:5px;
    font: white;
    display:inline-block
}

#ebus2
{
    font-family: serif;
    background-color: pink;
    padding-bottom: 5px;
    font: white;
    display:inline-block
}
